.control {
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &-element {
        display: flex;
        flex-direction: column;
        margin: auto 1rem;
        position: relative;
    }
}
