<div class="control-container">
  <div class="control-element">
    <p (click)="submit()">Click for cats names</p>
    <div *ngIf="cats.length > 0">
      <ul *ngFor="let cat of cats">
        <li>{{cat.name}}</li>
      </ul>
    </div>
  </div>

  <form class="control-element" (ngSubmit)="addCat(catForm.value)">
    <label for="addCatName">Cat name to add</label>
    <input ngModel required name="addCatName" #catForm="ngModel" (change)="log(catForm.value)" type="text">
    <button type="submit">Add</button>
  </form>

  <form class="control-element" (ngSubmit)="killCat(catForm.value)">
    <label for="delCatName">Cat name to remove</label>
    <input ngModel required name="delCatName" #catForm="ngModel" (change)="log(catForm.value)" type="text">
    <button type="submit">Remove</button>
  </form>
</div>
