<div class="control-container">
  <div class="control-element">
    <p (click)="submit()">Click for cats names</p>
    <div *ngIf="cats.length > 0">
      <ul *ngFor="let cat of cats">
        <li>{{cat.name}}</li>
      </ul>
    </div>
  </div>

  <div class="control-element">
    <form class="form" (submit)="addCat(addCatName)">
      <label for="catAdd">Cat name to add</label>
      <input [(ngModel)]="addCatName" name="catAdd" type="text">
      <button>Add cat</button>
    </form>
  </div>

  <div class="control-element">
    <form class="form" (submit)="killCat(killCatName)">
      <label for="catKill">Cat name to remove</label>
      <input [(ngModel)]="killCatName" name="catKill" type="text">
      <button>Remove cat</button>
    </form>
  </div>
</div>
