<div class="container w-25">
  <div class="text-center mb-5">
    <h1>Register</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label" for="nickname">Nickname</label><br>
      <input formControlName="nickname" class="form-control" type="text" name="nickname" id="nickname">
      <div *ngIf="nickname.touched && nickname.dirty && nickname.errors" class="alert alert-danger">
        <div *ngIf="nickname.errors!.required">Nickname is required</div>
        <div *ngIf="nickname.errors!.minlength">Minimum length is 5</div>
        <div *ngIf="nickname.errors!.maxlength">Maximum length is 20</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password</label><br>
      <input formControlName="password" class="form-control" type="password" name="password" id="password"
        (change)="log(password)">
      <div *ngIf="password.touched && password.dirty && password.errors" class="alert alert-danger">
        <div *ngIf="password.errors!.required">Password is required</div>
        <div *ngIf="password.errors!.pattern">Password must match a pattern</div>
      </div>
    </div>
    <div class="text-center">
      <input class="btn btn-primary mb-2" type="submit" id="submit" value="Register" /><br>
      <a class="opacity-25" routerLink='/login'>Already have an account?</a>
    </div>
  </form>
</div>


<!-- 



<h1 class="d-flex justify-content-center">Register</h1>




<div class="mt-5 d-flex justify-content-center">
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label" for="nickname">Nickname</label><br>
      <input formControlName="nickname" class="form-control" type="text" name="nickname" id="nickname">
      <div *ngIf="nickname.touched && nickname.dirty && nickname.errors" class="alert alert-danger">
        <div *ngIf="nickname.errors!.required">Nickname is required</div>
        <div *ngIf="nickname.errors!.minlength">Minimum length is 5</div>
        <div *ngIf="nickname.errors!.maxlength">Maximum length is 20</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password</label><br>
      <input formControlName="password" class="form-control" type="password" name="password" id="password"
        (change)="log(password)">
      <div *ngIf="password.touched && password.dirty && password.errors" class="alert alert-danger">
        <div *ngIf="password.errors!.required">Password is required</div>
        <div *ngIf="password.errors!.pattern">Password must match a pattern</div>
      </div>
    </div>
    <input type="submit" id="submit" value="Submit" />
  </form>
</div>
<a class="opacity-25" routerLink='/login'>Already have an account?</a> -->
