<div class="row m-1">
  <div class="col-3">
    <!-- Cat list control -->
    <div class="row text-center align-items-center">
      <div class="col-8">
        <button
          type="button"
          class="btn btn-primary mt-1"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="cats">
          Click here to view cats
        </button>
      </div>
      <div class="col">
        <i (click)="submit()" class="fas fa-redo-alt big"></i>
      </div>
    </div>

    <hr>

    <!-- Cat list -->
    <div>
      <div id="cats" [collapse]="isCollapsed" [isAnimated]="true">
        <div *ngFor="let cat of cats; let i = index">
          <div class="mb-1">
            <button
              type="button"
              class="w-100 btn btn-dark shadow-none"
              (click)="cat.isCollapsed = !cat.isCollapsed"
              [attr.aria-expanded]="!cat.isCollapsed" [attr.aria-controls]="'catData' + i"
              [ngClass]="{'collapsedd': cat.isCollapsed, 'uncollapsedd': !cat.isCollapsed}">

              {{cat.cat.name}}
            </button>
            <div
              [attr.id]="'catData' + i"
              [collapse]="cat.isCollapsed"
              [isAnimated]="true">
              <div class="card card-body no-top-border">
                {{cat.cat.name}}'s age is {{cat.cat.age || 0}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <!-- Cat form -->
    <form class="mt-3" [formGroup]="catForm">
      <label for="catName">Cat name goes here</label>
      <input formControlName="name" type="text" id="catName" required>
      <div
        *ngIf="name.touched && name.dirty && name.invalid"
        class="alert alert-danger">
        Name must be at least 3 characters long
      </div>

      <button class="btn btn-success" (click)="addCat()">Add</button>
      <button class="btn btn-danger" (click)="killCat()">Remove</button>
      <div>
        <button
          type="button"
          class="btn btn-secondary shadow-none w-100"
          (click)="updateCollapsed = !updateCollapsed"
          [attr.aria-expanded]="!updateCollapsed"
          aria-controls="update"
          [ngClass]="{'collapsedd': updateCollapsed, 'uncollapsedd': !updateCollapsed}">
          Update
        </button>
        <div
          id="update"
          [collapse]='updateCollapsed'
          [isAnimated]='true'>
          <div class="form-group">
            <div class="card card-body no-top-border">
              <label for="catAge">Enter cat age</label>
              <input
                formControlName="age"
                type="number"
                id="catAge"
                class="form-control no-bottom-border">
              <div
                *ngIf="(age.dirty || age.touched) && age.invalid"
                class="alert alert-danger">
                Not avalid number<br>
                (age > 0, a whole number)
              </div>
              <button class="btn btn-secondary no-top-border" (click)='updateCat()'>Update</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-3">
    <div class="d-inline-flex flex-column">
      <button class="btn btn-danger" (click)="reset()">Reset <i class="fas fa-trash-restore"></i></button>
      <button class="btn btn-secondary">Account</button>
    </div>
  </div>
</div>
